@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');// A fonte usada no site.

$gray: #667085; // As cores que são usadas no site.
$dark-red: #8E2424;
$dark-gray: #3A404E;
$black: #101828;

@mixin div-flex { // Função que estiliza o html sem precisar repetir as propriedades, evitando a repetição do código.
    display: flex;
    flex-direction: column;
}

@mixin display {
    display: inline-block;
    text-align: center;
}

@function calculateRem($size) { // Função que vai calcular a quantidade de rem.
    @return $size / 1rem * 16px;    
}

@mixin padding($size) { // Aqui o padding vai usar a quantidade de rem que for definida nele.
    padding: calculateRem($size);
}

@mixin phone {
    @media (min-width: 375px) and (max-width: 694.98px) { @content; }
}

@mixin tablet {
    @media (min-width: 695px) and (max-width: 999px) { @content; }
}