.navbar {
    height: 10rem;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;

        @include phone {
            display: initial;
        }
    }

    &__name {
        color: $dark-gray;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
    }

    &__img {
        margin-right: .5rem;
    }

    &__menu {
        display: flex;
        flex-direction: row-reverse;
    }

    &__button {
        display: block;
        
            @include phone {
                @include div-flex;
                margin-top: -2rem;
                margin-right: 1rem;
                height: 2rem;
                width: 2rem;
                border-top: 4px solid;
                position: relative;
                cursor: pointer;

                &::after, &::before {
                    content: "";
                    display: block;
                    height: 4px;
                    margin-top: 6px;
                    background: currentColor;
                    position: relative;
                    transition: .3s ease;
                }

                &.active {
                    border-top-color: transparent;
                }

                &.active::after {
                    margin-top: 0px;
                    top: 2px;
                    transform: rotate(45deg);
                }

                &.active::before {
                    margin-top: 0px;
                    top: 6px;
                    transform: rotate(135deg);
                }
            }
    }

    &__list {
        @include phone {
            @include div-flex;
            text-align: center;    
            opacity: 0;
            visibility: hidden;
            margin-top: 0;
            transform: translate3d(0, -50px, 0);
            transition: .3s;
            background: #F9FAFB;
            height: 12rem;
        }

        &.active {
            visibility: visible;
            opacity: 1;
            transform: translate3d(0, 0, 0)
        }
    }

    &__links {
        display: inline;
        padding: 1rem;
    }

    &__link {
        text-decoration: none;
        color: $gray;
    }

    &__buttons {        
        @include phone {
            @include div-flex;
            @include padding(1rem);
            align-items: center;
            opacity: 0;
            visibility: hidden;
            transform: translate3d(0, -50px, 0);
            transition: .3s;
            background: #F9FAFB;
        }

        &.active {
            visibility: visible;
            opacity: 1;
            transform: translate3d(0, 0, 0)
        }
    }

    &__enter {
        color: $gray;
        background: none;
        border: none;
        font-weight: bold;
        cursor: pointer;
    }

    &__register {
        background-color: $dark-red;
        color: #ffff;
        border-radius: .5rem;
        width: 5rem;
        height: 2rem;
        cursor: pointer;
    }
}