@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap'); // A fonte usada no site.

$gray: #667085; // As cores que são usadas no site.
$dark-red: #8E2424;
$dark-gray: #3A404E;
$black: #101828;

@mixin div-flex { // Função que estiliza o html sem precisar repetir as propriedades, evitando a repetição do código.
    display: flex;
    flex-direction: column;
}

@mixin display {
    display: inline-block;
    text-align: center;
}

@function calculateRem($size) { // Função que vai calcular a quantidade de rem.
    @return $size / 1rem * 16px;    
}

@mixin padding($size) { // Aqui o padding vai usar a quantidade de rem que for definida nele.
    padding: calculateRem($size);
}

@mixin phone {
    @media (max-width: 767.98px) { @content; }
}

@import 'navbar', 'footer'; // Ele importa os outros arquivos sass da página.

body {
    font-family: 'Inter', sans-serif;
}

.main {
    text-align: center;
    padding: 4rem;
    
    &__subheading {
        color: $dark-red;
        font-size: .8rem;
        font-weight: bold;  
        @include padding(1.2rem);
    }

    &__heading {
        font-size: 2rem;
        @include padding(2rem);
        font-weight: bold;
    }

    &__details {
        @include display;
        width: 42%;
        line-height: 1.3rem;
        font-size: .9rem;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @include padding(5rem);
    }

    &__metric {
        @include div-flex;
        text-align: left;
    }

    &__metric_item {
        color: $dark-red;
        font-weight: bold;
        font-size: 3rem;
    }

    &__metric_title {
        font-size: 1.1rem;
        font-weight: bold;
        padding-top: 1rem;
        line-height: 2rem;
    }

    &__metric_text {
        font-size: .9rem;
        width: 70%;
        line-height: 1.3rem;
    }

    &__talents {
        margin-top: 4rem;
    }

    &__talents_text {
        @include display;
        color: $dark-red;  
        background-color: #8e242419;
        font-size: .7rem;
        border-radius: 1rem;
        width: 6rem;
        height: 1rem;
        @include padding(.4rem);
    }

    &__talents_title {
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    &__talents_sub {
        font-size: .9rem;
    }

    &__talents_img {
        @include padding(2rem);
        width: 75%;
    }

    &__vacancy {
        @include div-flex;
        align-items: center;
    }

    &__vacancy_title {
        font-size: 1.2rem;
        @include padding(1rem);
    }

    &__vacancy_information {
        @include div-flex;
        align-items: flex-start;
        justify-content: space-around;
        border: 1px solid #EAECF0;
        border-radius: .3rem;
        width: 50%;
        height: 6rem;
        @include padding(1rem);
        margin: 1rem;
    }

    &__vacancy_job {
        font-size: 1.2rem;
    }

    &__vacancy_time, &__vacancy_money {
        display: contents;
        font-size: .8rem;
    }

    &__testimony_container {
        background-color: #8e242419;
        border-radius: 2rem;
    }

    &__testimony_text {
        color: $dark-red;
        font-size: .8rem;
        font-weight: bold;
        @include padding(3rem);
    }

    &__testimony_title {
        @include display;
        font-size: 1.5rem;
        @include padding(1rem);
        width: 55%;
    }

    &__testimony_name, &__testimony_work {
        font-size: .8rem;
        @include padding(1rem);
    }
}